body {
    margin: 0;
    height: 100vh;
    background-color: #000000;
    background-image: radial-gradient(#333333 1.5px, transparent 1.5px), radial-gradient(#333333 1.5px, #000000 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------- */
/*<!-- START HEADER -->*/


:root {
    --bg: rgb(255, 255, 255);
    --c1: #fff3cd;
    --c2:  chocolate   ;
    --c3: #000000;
  
    /*   
    --bg: #112;
    --c1: blue;
    --c2: white;
    --c3: #eef; 
    */
  }
  
 body {
    margin: 0;
    height: 100vh;
    background-color: #000000;
    background-image: radial-gradient(#333333 1.5px, transparent 1.5px), radial-gradient(#333333 1.5px, #000000 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, Oswald, Arial, sans-serif;
    color: #dde;
    margin: 0;
    padding: 0;
  }
  
  header {
    height: 50vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* background-color: var(--bg); */
  }
  
  @keyframes showBars {
    0% { opacity: 0; background-position: -400% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    14% { background-position: 0% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    28% { background-position: 0% 7%, 100% 21%, -400% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    42% { background-position: 0% 7%, 100% 21%,    0% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    56% { background-position: 0% 7%, 100% 21%,    0% 35%, 100% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    70% { background-position: 0% 7%, 100% 21%,    0% 35%, 100% 49%,    0% 63%, 500% 77%, -400% 91% ; }
    84% { background-position: 0% 7%, 100% 21%,    0% 35%, 100% 49%,    0% 63%, 100% 77%, -400% 91% ; }
    98%, 100% { opacity: 1; background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%, 0% 91%; }
  }
  
  header::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    top: -70px;
    left: 0;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 70% 7%;
    background-image:
      linear-gradient(var(--c1),var(--c1)),
      linear-gradient(var(--c2),var(--c2)),
      linear-gradient(var(--c1),var(--c1)),
      linear-gradient(var(--c2),var(--c2)),
      linear-gradient(var(--c1),var(--c1)),
      linear-gradient(var(--c2),var(--c2)),
      linear-gradient(var(--c1),var(--c1));
      
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%, 0% 91%;
    animation: showBars 3.5s;
  }
  
  @keyframes showText {
    0% { opacity: 0; transform: translate(0, -100%); }
    20% { opacity: 0; }
    100% { opacity: 1; transform: translate(0, 0); }
  }
  
  header > div {
    position: relative;
    transform: translate(-100%, 0);
    opacity: 0;
    animation: showText 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    text-align: center;
  }
  
  h1 {
    font-weight: 400;
    font-family: Oswald, Montserrat, arial, sans-serif;
    margin: 0;
    font-size: 10vw;
    color: var(--c2);
  }
  

  
  @media all and (min-width: 768px) {
  
    @keyframes showBarsBig {
      0% { opacity: 0; background-position: 7% -400%, 21% 500%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      14% { background-position: 7% 0%, 21% 500%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      28% { background-position: 7% 0%, 21% 100%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      42% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      56% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% -400%, 77% 500%, 91% -400%; }
      70% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 500%, 91% -400%; }
      84% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% -400%; }
      98%, 100% { opacity: 1; background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% 0%; }
    }
  
    @keyframes showTextBig {
      0% { opacity: 0; transform: translate(-100%, 0); }
      20% { opacity: 0; }
      100% { opacity: 1; transform: translate(0vw, 0); }
    }
  
    header {
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  
    header::after {
      width: 20vw;
      height: 100%;
      background-size: 7% 70%;
      background-position: 
        7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% 0%;
      animation-name: showBarsBig;
    }
  
    header > div {
      animation-name: showTextBig;
      margin-left: 22vw;
      text-align: left;
    }
  
    h1 {
      font-size: 8vw;
    }
  
    p {
      font-size: 4vw;
      margin-bottom: 0;
    }
  }
  
  @media (prefers-reduced-motion) {
    header::after {
      animation: none !important;
    }
    
    @keyframes showTextReduced {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    
    header > div {
      transform: translate(0,0);
      animation-name: showTextReduced;
      animation-delay: 0.5s !important;
    }
  }

/* <!-- START END --> */
/* ---------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------- */

/*#ff3c41*/
/*#444857*/

:root {
	--u: 1.5vmin;
	--clr: #777;
	--bg: #444857;
}
body {
	margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: #131417;
	background-image: linear-gradient(315deg, #131417 0%, #1e1f26 74%);
}


/* ---------------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(46, 98%, 47%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
